<<<<<<< HEAD
.carousel-container {
  
  position: relative;
  width: 99%;
  /* max-width: 800px; */
  margin-left: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 500px;
  display: block;
  border-radius: 10px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  z-index: 10;
=======
/* Carousel.css */
.carousel-container {
  position: relative;
  /* width: 103%; */
  left: 0;
  right: 0;
  height: 620px;
  /* margin: auto; */
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 18px;

  /* background: #090a4d;
  background: linear-gradient(140deg, rgba(9, 10, 77, 1) 0%, rgba(61, 13, 79, 1) 21%, rgba(7, 36, 133, 1) 70%, rgba(67, 5, 79, 1) 14%, rgba(181, 13, 102, 1) 100%); */

  /* 6, 136, 191, 1 */

  background: #000c94;
  background: linear-gradient(130deg, rgba(0, 12, 148, 1) 10%, rgb(10, 84, 174) 9%, rgb(3, 38, 109) 90%, rgba(0, 155, 222, 1) 66%);


  /* transition: opacity 1s ease-in-out; */
  z-index: 0;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
}

.carousel-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 2rem;
  font-weight: bold;
  /* color: white; */
  transition: all 20s ease-in-out;
  opacity: 1;
  z-index: 1;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* .slide.red {
  background-color: lightblue
}

.slide.green {
  background-color: #edcef7;
}

.slide.blue {
  background-color: #60a5fa;
} */


.nav {
  position: absolute;
  top: 50%;
  padding: 10px 16px;
  transform: translateY(-50%);
  font-size: 60px;
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.7); */
  border: none;
  /* border-radius: 50%; */
  transition: background-color 20s ease;
  user-select: none;
}

.nav:hover {
  color: #8fdff9;
>>>>>>> 3291ee9bea01882694e61e1d6f4adf95c474c143
}

.nav.left {
  left: 10px;
}
<<<<<<< HEAD
.nav.left:hover{
  background: rgba(163, 226, 242, 0.3);
  color: rgb(127, 193, 255);
}
=======
>>>>>>> 3291ee9bea01882694e61e1d6f4adf95c474c143

.nav.right {
  right: 10px;
}

<<<<<<< HEAD
.nav.right:hover{
  background: rgba(163, 226, 242, 0.3);
  color: rgb(127, 193, 255);
}
=======
>>>>>>> 3291ee9bea01882694e61e1d6f4adf95c474c143
