footer{
    padding: 20px;
    height: 50vh;
    border-radius: 10px;
    /* border: 10px solid blueviolet; */
    background-color: rgba(0, 0, 0, 0.729);
}

footer p{
    text-align: center;
    color: rgb(255, 253, 251);
}
footer p:hover 
{
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
}