.main-body
{
    height: 100%;
    /* border: 3px solid green; */

}

.main-about
{    
    margin-bottom: 40px;
    height: 80vh;
    width: 100%;
    border: 2px solid rgba(55, 70, 75, 0.6);
    border-radius: 10px;
    box-shadow: 6px 10px 3px  rgba(52, 66, 73, 0.436);

    /* background: #97a6e6;
    background: radial-gradient(circle, rgba(151, 166, 230, 1) 85%, rgba(117, 165, 255, 1) 53%, rgba(78, 168, 204, 1) 100%); */

    background: #bcc5e3;
    background: radial-gradient(circle, rgba(191, 219, 227, 0.674) 85%, rgba(160, 189, 242, 1) 53%, rgba(124, 200, 230, 1) 100%);

    /* background-color: transparent; */

    
}

.main-title{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
    /* font-family: "Black Ops One", system-ui; */
    font-family: "Poetsen One", sans-serif;
    color: rgb(3, 3, 103);
    text-align: center;
}

.about-container
{
    margin: 40px 20px;
    height: 55vh;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about
{
    padding: 10px;
    height: 55vh;
    width: 45vw;
    /* border: 3px solid rgb(233, 12, 12); */

}

.about-img
{
    margin: 12px 90px;
    height: 30vh;
    width: 17vw;
    /* border: 3px solid black; */
    /* background-image: url("./about/boy2.png"); */
    background-position: center;
    background-size: contain;
   
}
.img1
{
    background-image: url("./about/boy2.png");
}
.img2
{
    background-image: url("./about/rent.png");
    background-size: cover;
}
.img3
{
    background-image: url("./about/sell.png");
    background-size: cover;
}

.img4
{
    background-image: url("./about/ship.png");
}
.img5
{
    background-image: url("./about/cmnity.png");
    background-size: cover;
}
.img6
{
    background-image: url("./about/listingg.png");
    background-size: cover;
}

.about p{
    margin: 0;
    /* border: 3px solid green; */
    text-align: center;
}

.img-title
{
    font-weight: 800;
    font-family: inherit;
    font-size: 20px;
}

.img-detail
{
    /* border: 2px solid black; */
    width: 25vw;
}

.about .img-detail
{
    margin-left: 38px;
    font-weight: 500;
}

.book-cat
{
    /* padding-bottom: 3px; */

    padding-top: 25px;
    margin-bottom: 28px;
    height: 65vh;
    /* border: 5px solid red; */
    /* background: rgb(198,211,216);
    background: linear-gradient(0deg, rgba(198,211,216,1) 0%, rgba(235,238,254,1) 49%, rgba(184,212,221,1) 100%); */

    background: rgb(209,243,255);
    background: linear-gradient(0deg, rgba(209,243,255,1) 0%, rgba(255,255,255,1) 49%, rgba(199,241,255,1) 100%);
    /* background: linear-gradient(0deg, rgba(195, 239, 255, 0.903) 0%, rgba(255,255,255,1) 49%,rgba(195, 239, 255, 1) 100%); */
    border-radius: 4px;
}

.book-cat-name
{
    color: rgb(3, 3, 103);
    margin-left: 25px;
    font-size: 23px;
    font-weight: 600;
    /* font-family: "Black Ops One", system-ui ; */
    font-family: "Poetsen One", sans-serif;
}

.book-cat-name:hover
{
    text-shadow: 0 0 4px #6ba3f7c5;
}


