.book-div
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 45vh;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.book-container
{
    margin-right: 4px;
    padding: 2px; 
    width: 15vw;
    height: 45vh;
    /* border: 5px solid green; */
   
}

.book-itself
{
    margin-left: 18px;
    height: 37vh;
    width: 12vw;
    /* border: 3px solid orange; */
    background-image: url("./books/book1.jpg");
    background-position: center;
    background-size: cover;
}
.book-container p
{
    text-align: center;
    margin-top: 3px;
}