
div{
    padding: 3.2px;
}

.nav-divs
{
    /* position: fixed;
    top: 0;
    background-color: transparent;
    padding: 1rem;
    z-index: 1000; */
}
.carousel-div
{
    
    /* border: 4px solid red; */
    
}